{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<img src="{{city.main_image.url}}" alt="" width="800" height="400">
<h1>{{city.location}}</h1>

<h2>Forex: $USD = {{city.forex |intcomma }} PHP</h2>
<h2>Weather: {{city.weather}} degrees</h2>
<h1>Attraction</h1>
<img src="{{city.attraction_image1.url}}" alt="" width="300" height="300">
<a href="{{city.attraction_url1}}"><h2>{{city.attraction_name1}}</h2></a>
<h1>events</h1>
<ul>
    <li>{{city.attraction_name1}}</h2></a>{{event_name_1}}</li>
    <p>{{city.event_desc_1}}</p>
</ul>
<h1>discounts</h1>
<ul>
    <a href={{discount1_url}}><li>{{city.discount1_name}}</li></a>
</ul>
{% endblock %}